// Body
$body-bg: #697268;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.container-home{
    display: flex;
    width: 100%;
    margin-left: 20px;margin-right: 20px;
    align-items: center
}

.container-home .title-home{
    display: flex;
    width: 100%;
    justify-content: center;
}

.my-navbar-brand{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-size: 3rem;

    &:hover,
    &:focus {
        color: var(--bs-navbar-brand-hover-color);
        text-decoration: if(--bs-link-hover-decoration == underline, none, null);
    }
}
.card {
    margin-bottom: 15px;
}
.my-card{
    
}
.my-card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.my-card-header .sub-card-header div h5,.my-card-header .sub-card-header div p, .my-card-header .tiempo-header p{
    margin-bottom: 0;
}
.my-card-header img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}
.sub-card-header{
    display: flex;
    flex-direction: column;
}

.tiempo-header{
    position: absolute;
    right: 30px;
}
.home-container {
    background-color: transparent;
}

.home-container .home-topics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.home-container .home-topics img{
    width: 100%;
    height: 100%;
}
.text-topics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.text-topics div button{
    border: none;
    background-color: transparent;
}

.text-topics div  button i{
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.text-topics div  button i:hover{
    color: black;
}
.text-topics a{
    margin: 0%;
    color: rgb(127, 127, 127);
}
.text-topics a:hover {
    color: rgb(74, 74, 74);
}
.text-topics a:visited {
    color: rgb(127, 127, 127);
}
.fondohome {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        top: 102px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("https://static.vecteezy.com/system/resources/previews/001/308/318/non_2x/moonlight-reflecting-on-lake-landscape-vector.jpg");
        background-size: cover;
        background-position: top center;
    }
}
.master {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 9%;
}

.cajaloginregister {
    display: flex;
    width: 70%;  
    height: 550px;  
    margin: auto;
    box-shadow: 0px 4px 15px 8px black;
    border-radius: 25px;
}
.cajaizq {
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px;
    border-radius: 25px 0px 0px 25px;
    background-image: url("https://i.pinimg.com/originals/b7/11/17/b711173dc3a70bffebc64bd5e6969d26.jpg");
    background-size: 100% 100%;
}
.cajader {
    width: 60%;
    background-color: #EAECE9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-radius: 0px 25px 25px 0px;
}
.cajaizq img {
    width: 100%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
}
.loginregis {
    width: 60%;
    height: 60%;
}
.remember {
    width: 40%;
}
.enviarform {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.enviarform button {
    margin-left: 10px;
}
.enviarform label {
    margin-left: 5px;
}
.confirmemailpass {
    width: 100%;
    height: 30px;
}
.confirmemailpass input {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(black, .5);
    color: black;
    display: block;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
    &:focus {
        background: black;
        color: white;
        transition: 250ms background ease-in;
  }
}
.confirmemailpass input::placeholder {
    color: grey;
}
.camposform {
    display: flex;
    padding: 15px;
}
.confirmarform {
    padding: 15px;
}
.forgotpass {
    padding: 15px;
    display: flex;
    justify-content: center;
}
.forgotpass a {
    color: #363636;
}
.forgotpass a:hover {
    color: #1149e0;
}
.forgotpass a:visited {
    color: #363636;
}
#email {
    height: 40px;
    width: 100%;
}
#password-confirm {
    height: 30px;
}